.content p,
.p,
.content li,
.li {
	font-size: 17rem;
	line-height: (28/17) * 1;
}

.content ul,
.content ol {
}

.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: bold;
}

.content a,
.a {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {
	font-family: 'PF Regal Display Pro';
	font-weight: bold;
}

.h1,
.content h1 {
	font-size: 71rem;
	line-height: 80/71*1;
}

.h2,
.content h2 {
	font-size: 35rem;
	line-height: 40/35*1;
}

.h3,
.content h3 {
	font-size: 24rem;
	line-height: 30/24*1;
}

.h4,
.content h4 {
	font-size: 20rem;
	line-height: 25/20*1;
}

.h5,
.content h5 {
}

.h6,
.content h6 {
}


@include max-screen($large_mobile) {
	.h1,
	.content h1 {
		font-size: 55rem;
	}
}

@include max-screen($small_mobile) {
	.h1,
	.content h1 {
		font-size: 45rem;
	}
	
	.h2,
	.content h2 {
		font-size: 30rem;
	}
	
	.h3,
	.content h3 {
		font-size: 20rem;
	}
	
	.h4,
	.content h4 {
		font-size: 16px;
	}
	
	.content p,
	.p,
	.content li,
	.li {
		font-size: 14px;
		line-height: (21/14) * 1;
	}
}