+b.about#about.is-animated.js-animated(data-animate-class="active")
	+e.wrap.wrap
		+e.line
		+e.H2.title.h2.color-gold
			| GL /Golding Life/ — это золотое потребление и инвестирование, 
			br
			| золотой партнёрский онлайн-бизнес.
		+e.desc.p.color-gray
			| GL /далее Корпорация/ — это международный онлайн-магазин, который предлагает своим клиентам:
		+e.list.flex
			+e.item
				+e.item-ball
					img(src="/img/gold-ball.png")
				+e.item-text.p
					| Покупку, хранение и доставку инвестиционного золота в слитках и монетах.
			+e.item
				+e.item-ball
					img(src="/img/gold-ball.png")
				+e.item-text.p
					| Приобретение и доставку эксклюзивных товаров премиум-класса по выгодным ценам, 
					br
					| включая золото.
			+e.item
				+e.item-ball
					img(src="/img/gold-ball.png")
				+e.item-text.p
					| Идею важности использования людьми в своей повседневной жизни золотых товаров 
					br
					| премиум-класса.
		+e.center.flex._vertical._justify.is-animated.js-animated(data-animate-class="active")
			+e.center-left
				+e.center-list
					+e.center-item
						| Поставщиками золотых инвестиционных слитков и монет для «GL» является крупные международные производители находящиеся в списке предприятий «Good Delivery» London Bullion Association Market (LBMA).
					+e.center-item
						| Сервис и хранение золотых инвестиционных слитков Корпорации осуществляет в испанском филиале немецкого золото производителя «Degussa».
			+e.center-right
				img(src="/img/about__img1.png")
		
		+e.bottom.flex._justify.is-animated.js-animated(data-animate-class="active")
			+e.bottom-left
				img(src="/img/about__img2.png")
			+e.bottom-right
				+e.H3.bottom-title.h2 Легитимность
				+e.bottom-content.content
					p
						| Товарный знак «GL» и Корпорация «GOLDING LIFE LTD» осуществляют свою деятельность с начала 2017 г. 
					p
						| В настоящее время Корпорация зарегистрирована в Лондоне (Великобритания), в крупнейшем мировом центре финансовов и торговли золотом.
					p
						| Корпорация имеет все разрешительные документы и лицензии. Её деятельность и налоговые обязательства регулируются законодательством Великобритании.
					p.color-gray
						| Действия от имени Корпорации и копирование её товарного знака сторонними юридическими и физическими лицами без разрешения Корпорации считаются незаконными и будут преследоваться в судебном порядке.
				