+b.directions#directions.is-animated.js-animated(data-animate-class="active")
	+e.wrap.wrap
		+e.H2.title.h2 Направления
		+e.list.flex
			+e.item
				+e.item-number 1
				+e.item-text.p Продажа инвестиционных золотых слитков и монет от европейских производителей и их хранение.
			+e.item
				+e.item-number 2
				+e.item-text.p Сотрудничество с производителями эксклюзивных потребительских товаров премиум-класса с золотом чистотой 
					br
					| 22-24 Карата и продажа этих товаров клиентам Корпорации.
			+e.item
				+e.item-number 3
				+e.item-text.p Реализация продукции Корпорации её клиентам через их участие в бонусном маркетинге и в бонусных накопительных программах.
			+e.item
				+e.item-number 4
				+e.item-text.p Онлайн-обучение клиентов Корпорации теории Золотого обращения и практике золотых инвестиций. Проведение конференций, семинаров и тренингов.
			+e.item
				+e.item-number 5
				+e.item-text.p Участие клиентов Корпорации в инвестиционных программах для получения дополнительного дохода от деятельности Корпорации по добыче золота в странах Африки, Л.Америки и Азии.
			+e.item
				+e.item-number 6
				+e.item-text.p Участие в добыче золота в странах Африки, Л.Америки и Азии.
			+e.item
				+e.item-number 7
				+e.item-text.p Проведение международных круизов и конференций для VIP-клиентов Корпорации.
			+e.item
				+e.item-number 8
				+e.item-text.p Аффинаж добытого золота 
					br
					| до чистоты 9999 с последующей 
					br
					| его продажей.
		+e.lion
			img(src="/img/lion.png")