+b.FOOTER.footer
	+e.wrap.wrap
		+e.row.flex
			+e.column
				+e.list
					+e.item._arrow
						+e.item-text.p
							| Kemp House, 160 City Road 
							br
							| London, UK, EC1V 2NX
					+e.item
						+e.item-text.p
							a(href="tel:+442038158017") +44 203 815 8017
					+e.item
						+e.item-text.p
							+e.A.link(href="mailto:administration@goldinglife.com") administration@goldinglife.com
			+e.column
				+e.list
					+e.item._arrow
						+e.item-text.p
							| C/Edgar Neville, 6, Madrid, Spain
					+e.item._arrow
						+e.item-text.p
							| C/Eduardo Chillida Centro de negocios
							br
							| "Carrida Plaza", Almería, Spain
					+e.item._arrow
						+e.item-text.p
							| Hainan Province, Haikou, Fullsing Town, Innovation Base, Binghai Avenue 32, Building E
			+e.column
				+e.list
					+e.item._right
						+e.item-text.p
							+e.A.link.js-popup-show(href="#popup-polity") Политика конфиденциальности
					+e.item._right
						+e.item-text.p
							+e.A.link.js-popup-show(href="#popup-cookies") Политика cookies
					+e.item._right
						+e.item-text.p
							+e.A.link.js-popup-show(href="#popup-legal") Юридические уведомления
					+e.item._right
						+e.item-text.p
							+e.A.link.js-popup-show(href="#popup-kyc") KYC / AML
							