+b.popup.js-popup#popup-bonus
	+e.bg.js-popup-close
	+e.wrap
		+e.close.js-popup-close
			+icon('close')
		+e.title.color-gold.h2 Бонусная программа
		+e.content.content.css-scrollbar
			p
				| Бонусная программа «GL BONUS» — это одно из направлений корпорации Golding Life. 
				br
				| Задача «GL BONUS» — дать возможность любому человеку начать процесс накопления настоящего золота, даже не имея достаточных финансовых ресурсов. Для этого в бонусной программе «GL BONUS» используется механизм коллективного накопления и перераспределения ресурсов участников бонусной программы «GL BONUS».
			p
				| Регистрация в бонусной программе «GL BONUS» — бесплатна и доступна любому человеку.
			p
				| Более подробную информацию Вы можете получить на сайте бонусной программы 
				a(href="https://www.gl-bonus.com", target="_blank") gl-bonus.com
+b.popup.js-popup#popup-invest
	+e.bg.js-popup-close
	+e.wrap
		+e.close.js-popup-close
			+icon('close')
		+e.title.color-gold.h2 Бонусная программа
		+e.content.content.css-scrollbar
			p
				| Инвестиционная программа «GL INVEST» — это одно из направлений корпорации Golding Life. 
				br
				| Задача «GL INVEST» — дать возможность любому человеку начать процесс получения пассивного дохода, обеспеченного ростом цен на золото, даже не имея достаточных финансовых ресурсов. Для этого в инвестиционной программе «GL INVEST» используется механизм пассивного инвестирования в деятельность корпорации Golding Life в сфере золота. Пассивное инвестирование означает, что от клиента не требуется каких-либо действий. Всю деятельность по обеспечению доходности за клиента осуществляет корпорация Golding Life.
			p
				| В данный момент «GL INVEST» находится на стадии закрытого бета-тестирования. 
				br
				| Следите за новостями Golding Life, чтобы не пропустить старт «GL INVEST».
+b.popup.js-popup#popup-polity
	+e.bg.js-popup-close
	+e.wrap
		+e.close.js-popup-close
			+icon('close')
		+e.title.color-gold.h2 Политика конфиденциальности
		+e.content.content.css-scrollbar
			p
				| En cumplimiento de lo establecido en la RGPD, le informamos que sus datos serán tratados en nuestros ficheros, con la finalidad del mantenimiento y cumplimiento de la relación con nuestra entidad, incluyendo el envío de comunicaciones en el marco de la citada relación.
			p
				| Así mismo, sus datos serán cedidos en todos aquellos casos en que sea necesario para el desarrollo, cumplimiento y control de la relación con nuestra entidad o en los supuestos en que lo autorice una norma con rango de ley. En cumplimiento de la RGPD puede ejercitar sus derechos ARCO ante «GOLDING LIFE LTD», con dirección en Kemp House 160 City Road, London, United Kingdom, EC1V 2NX, adjuntando fotocopia de su DNI.
			p
				| El contenido de esta comunicación, así como el de toda la documentación anexa, está sujeta al deber de secreto y va dirigida únicamente a su destinatario. En el supuesto de que usted no fuera el destinatario, le solicitamos que nos lo indique y no comunique su contenido a terceros, procediendo a su destrucción.
			p
				| El prestador de servicios de la sociedad de la información deberá tener en cuenta que, además de la información que facilite a los destinatarios del servicio a través de su Política de Privacidad, deberá disponer de textos legales adicionales relativos a otras normativas de obligado cumplimiento, tales como, sin carácter limitativo o excluyente, condiciones generales de la contratación, propiedad intelectual e industrial, condiciones de utilización de la página web y responsabilidades al respecto, o lo que la propia Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico pueda establecer en cualesquiera otros preceptos al margen de su artículo 10 o incluso completar la información que, en relación a éste, fuese necesaria.
+b.popup.js-popup#popup-cookies
	+e.bg.js-popup-close
	+e.wrap
		+e.close.js-popup-close
			+icon('close')
		+e.title.color-gold.h2 Политика cookies
		+e.content.content.css-scrollbar
			p
				| En la web 
				a(href='https://www.goldinglife.com/') https://www.goldinglife.com/
				|  utilizamos cookies para facilitar la relación de los visitantes con nuestro contenido y para permitir elaborar estadísticas sobre las visitantes que recibimos.
			// /wp:paragraph
			// wp:paragraph
			p
				| En cumplimiento de la Directiva 2009/136/CE, desarrollada en nuestro ordenamiento por el apartado segundo del artículo 22 de la Ley de Servicios de Sociedad de la Información, siguiendo las directrices de la Agencia Española de Protección de Datos, procedemos a informarle detalladamente del uso que se realiza en nuestra web.
			// /wp:paragraph
			// wp:paragraph
			p
				| Se denominan cookies a unos pequeños archivos que se graban en el navegador utilizado por cada visitante de nuestra web para que el servidor pueda recordar la visita de ese usuario con posterioridad cuando vuelva a acceder a nuestros contenidos. Esta información no revela su identidad, ni dato personal alguno, ni accede al contenido almacenado en su pc, pero sí que permite a nuestro sistema identificarle a usted como un usuario determinado que ya visitó la web con anterioridad, visualizó determinadas páginas, etc. y además permite guardar sus preferencias personales e información técnica como por ejemplo las visitas realizadas o páginas concretas que visite.
			// /wp:paragraph
			// wp:paragraph
			p
				| La finalidad de las cookies es la de facilitar al Usuario un acceso más rápido a los Servicios seleccionados.
			// /wp:paragraph
			// wp:paragraph
			p
				| Si no desea que se guarden cookies en su navegador o prefiere recibir una información cada vez que una cookie solicite instalarse, puede configurar sus opciones de navegación para que se haga de esa forma. La mayor parte de los navegadores permiten la gestión de las cookies de 3 formas diferentes:
			p – Las cookies son siempre rechazadas;
			p – El navegador pregunta si el usuario desea instalar cada cookie;
			p – Las cookies son siempre aceptadas.
			p
				| Su navegador también puede incluir la posibilidad de seleccionar con detalle las cookies que desea que se instalen en su ordenador. En concreto, el usuario puede normalmente aceptar alguna de las siguientes opciones:
			p – Rechazar las cookies de determinados dominios;
			p – Rechazar las cookies de terceros;
			p
				| – Aceptar cookies como no persistentes (se eliminan cuando el navegador se cierra);
			p – Permitir al servidor crear cookies para un dominio diferente.
			p
				| Para permitir, conocer, bloquear o eliminar las cookies instaladas en su equipo puede hacerlo mediante la configuración de las opciones del navegador instalado en su ordenador.
			// /wp:paragraph
			// wp:paragraph
			p
				| Puede encontrar información sobre cómo configurar los navegadores más usados en las siguientes ubicaciones:
			p
				| – Internet Explorer: Herramientas -> Opciones de Internet -> Privacidad -> Configuración. Para más información, puede consultar el soporte de Microsoft o la Ayuda del navegador.
			p
				| – Firefox: Herramientas -> Opciones -> Privacidad -> Historial -> Configuración Personalizada. Para más información, puede consultar el soporte de Mozilla o la Ayuda del navegador.
			p
				| – Chrome: Configuración -> Mostrar opciones avanzadas -> Privacidad -> Configuración de contenido. Para más información, puede consultar el soporte de Google o la Ayuda del navegador.
			p
				| – Safari: Preferencias -> Seguridad. Para más información, puede consultar el soporte de Apple o la Ayuda del navegador.
			p
				| Respecto de las cookies de terceros, es decir aquellas que son ajenas a nuestro sitio web, no podemos hacernos responsables del contenido y veracidad de las políticas de privacidad que ellos incluyen por lo que la información que le ofrecemos es siempre con referencia a la fuente.
			// /wp:paragraph
			// wp:paragraph
			p
				| Se puede modificar esta Política de Cookies en función de exigencias legislativas, reglamentarias, o con la finalidad de adaptar dicha política a las instrucciones dictadas por la Agencia Española de Protección de Datos, por ello se aconseja a los Usuarios que la visiten periódicamente.
			// /wp:paragraph
			// wp:paragraph
			p
				| Cuando se produzcan cambios significativos en esta Política de Cookies, se comunicarán a los Usuarios bien mediante la web o a través de correo electrónico a los Usuarios registrados.
+b.popup.js-popup#popup-legal
	+e.bg.js-popup-close
	+e.wrap
		+e.close.js-popup-close
			+icon('close')
		+e.title.color-gold.h2 Юридические уведомления
		+e.content.content.css-scrollbar
			p
				| El presente Aviso Legal regula las condiciones generales de acceso y utilización del sitio web accesible en la dirección URL 
				a(href='https://www.goldinglife.com/') https://www.goldinglife.com
				|  (en adelante, el sitio web), que «GOLDING LIFE LTD» pone a disposición de los usuarios de Internet.
			p
				| La utilización del sitio web implica la aceptación plena y sin reservas de todas y cada una de las disposiciones incluidas en este Aviso Legal. En consecuencia, el usuario del sitio web debe leer atentamente el presente Aviso Legal en cada una de las ocasiones en que se proponga utilizar la web, ya que el texto podría sufrir modificaciones a criterio del titular de la web, o a causa de un cambio legislativo, jurisprudencial o en la práctica empresarial.
			h3 1.- TITULARIDAD DEL SITIO WEB.
			p
				| Razón Social de la Empresa: «GOLDING LIFE LTD»
				br
				| Domicilio social: Kemp House 160 City Road
				br
				| Población: Londres
				br
				| Provincia: Londres
				br
				| C.P.: EC1V 2NX
				br
				| Número de registro: 12657264
				br
				| Teléfono de contacto: +44 20 38 15 80 17
				br
				| Correo electrónico: 
				a(href='mailto:administration@goldinglife.com') administration@goldinglife.com
				br
				| La marca «GL» y la compañía «GOLDING LIFE LTD» han estado operando desde principios de 2017. Actualmente, la Compañía está registrada en Londres (Gran Bretaña)
			h3 2.- OBJETO.
			p
				| El sitio web facilita a los usuarios del mismo el acceso a información y servicios prestados por «GOLDING LIFE LTD» a aquellas personas u organizaciones interesadas en los mismos.
			h3 3.- ACCESO Y UTILIZACIÓN DE LA WEB.
			p
				b 3.1
				| .- Carácter gratuito del acceso y utilización de la web.
				br
				| El acceso a la web tiene carácter gratuito para los usuarios de la misma.
			p
				b 3.2
				| .- Registro de usuarios.
				br
				| Con carácter general el acceso y utilización de la web no exige la previa suscripción o registro de los usuarios de la misma.
			h3 4.- CONTENIDOS DE LA WEB.
			p
				| El idioma utilizado por el titular en la web será el castellano. «GOLDING LIFE LTD» no se responsabiliza de la no comprensión o entendimiento del idioma de la web por el usuario, ni de sus consecuencias.
			p
				| «GOLDING LIFE LTD» podrá modificar los contenidos sin previo aviso, así como suprimir y cambiar éstos dentro de la web, como la forma en que se accede a éstos, sin justificación alguna y libremente, no responsabilizándose de las consecuencias que los mismos puedan ocasionar a los usuarios.
			p
				| Se prohíbe el uso de los contenidos de la web para promocionar, contratar o divulgar publicidad o información propia o de terceras personas sin la autorización de «GOLDING LIFE LTD», ni remitir publicidad o información valiéndose para ello de los servicios o información que se ponen a disposición de los usuarios, independientemente de si la utilización es gratuita o no.
			p
				| Los enlaces o hiperenlaces que incorporen terceros en sus páginas web, dirigidos a esta web, serán para la apertura de la página web completa, no pudiendo manifestar, directa o indirectamente, indicaciones falsas, inexactas o confusas, ni incurrir en acciones desleales o ilícitas en contra de «GOLDING LIFE LTD»
			h3 5.- LIMITACIÓN DE RESPONSABILIDAD.
			p
				| Tanto el acceso a la web como el uso inconsentido que pueda efectuarse de la información contenida en la misma es de la exclusiva responsabilidad de quien lo realiza. «GOLDING LIFE LTD» no responderá de ninguna consecuencia, daño o perjuicio que pudieran derivarse de dicho acceso o uso. «GOLDING LIFE LTD» no se hace responsable de los errores de seguridad, que se puedan producir ni de los daños que puedan causarse al sistema informático del usuario (hardware y software), o a los ficheros o documentos almacenados en el mismo, como consecuencia de:
			ul
				li
					| la presencia de un virus en el ordenador del usuario que sea utilizado para la conexión a los servicios y contenidos de la web,
				li un mal funcionamiento del navegador,
				li y/o del uso de versiones no actualizadas del mismo.
			p
				| «GOLDING LIFE LTD» no se hace responsable de la fiabilidad y rapidez de los hiperenlaces que se incorporen en la web para la apertura de otras. «GOLDING LIFE LTD» no garantiza la utilidad de estos enlaces, ni se responsabiliza de los contenidos o servicios a los que pueda acceder el usuario por medio de estos enlaces, ni del buen funcionamiento de estas webs.
			p
				| «GOLDING LIFE LTD» no será responsable de los virus o demás programas informáticos que deterioren o puedan deteriorar los sistemas o equipos informáticos de los usuarios al acceder a su web u otras webs a las que se haya accedido mediante enlaces de esta web.
			h3 6.- EMPLEO DE LA TECNOLOGÍA "COOKIE".
			p
				| La web no emplea cookies ni cualquier otro procedimiento invisible de recogida de información cuando el usuario navega por ella, respetando en todo momento la confidencialidad e intimidad del mismo.
			p
				| * SI SE EMPLEAN COOKIES CONSULTAR COMUNICADO SOBRE USO DE COOKIES La web emplea cookies, puede consultar nuestra Política de Cookies, que respeta en todo momento la confidencialidad e intimidad del mismo.
			h3 7.- PROPIEDAD INTELECTUAL E INDUSTRIAL.
			p
				| Son propiedad de «GOLDING LIFE LTD», todos los derechos de propiedad industrial e intelectual de la web, así como de los contenidos que alberga. Cualquier uso de la web o sus contenidos deberá tener un carácter exclusivamente particular. Está reservado exclusivamente a ………., cualquier otro uso que suponga la copia, reproducción, distribución, transformación, comunicación pública o cualquier otra acción similar, de todo o parte de los contenidos de la web, por lo que ningún usuario podrá llevar a cabo estas acciones sin la autorización previa y por escrito de «GOLDING LIFE LTD»
			h3 8.- POLÍTICA DE PRIVACIDAD Y PROTECCION DE DATOS.
			p
				| «GOLDING LIFE LTD» garantiza la protección y confidencialidad de los datos personales, de cualquier tipo que nos proporcionen nuestras empresas clientes de acuerdo con lo dispuesto en la Ley Orgánica 15/1999, de 13 de Diciembre de Protección de Datos de Carácter Personal.
			p
				| Todos los datos facilitados por nuestras empresas clientes a «GOLDING LIFE LTD» o a su personal, serán incluidos en un fichero automatizado de datos de carácter personal creado y mantenido bajo la responsabilidad de «GOLDING LIFE LTD», imprescindibles para prestar los servicios solicitados por los usuarios.
			p
				| Los datos facilitados serán tratados según el Reglamento de Medidas de Seguridad (Real Decreto 1720/2007 de 21 de Diciembre), en este sentido «GOLDING LIFE LTD» ha adoptado los niveles de protección que legalmente se exigen, y ha instalado todas las medidas técnicas a su alcance para evitar la perdida, mal uso, alteración, acceso no autorizado por terceros. No obstante, el usuario debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables. En caso en que considere oportuno que se cedan sus datos de carácter personal a otras entidades, el usuario será informado de los datos cedidos, de la finalidad del fichero y del nombre y dirección del cesionario, para que de su consentimiento inequívoco al respecto.
			p
				| En cumplimiento de lo establecido en la RGPD, el usuario podrá ejercer sus derechos de acceso, rectificación, cancelación y oposición. Para ello debe de contactar con nosotros en 
				a(href='mailto:administration@goldinglife.com') administration@goldinglife.com
			h3 9.- LEGISLACIÓN APLICABLE Y JURISDICCIÓN COMPETENTE.
			p
				| El presente Aviso Legal se interpretará y regirá de conformidad con la legislación de Gran Bretaña. «GOLDING LIFE LTD» y los usuarios, con renuncia expresa a cualquier otro fuero que pudiera corresponderles, se someten al de los juzgados y tribunales del domicilio del usuario para cualquier controversia que pudiera derivarse del acceso o uso de la web. En el caso de que el usuario tenga su domicilio fuera de España, «GOLDING LIFE LTD» y el usuario, se someten, con renuncia expresa a cualquier otro fuero, a los juzgados y tribunales del domicilio de «GOLDING LIFE LTD».
			p
+b.popup.js-popup#popup-kyc
	+e.bg.js-popup-close
	+e.wrap
		+e.close.js-popup-close
			+icon('close')
		+e.title.color-gold.h2 KYC / AML
		+e.content.content.css-scrollbar
			p Know Your Customer (KYC) and Anti-Money Laundering (AML) Policy and Procedures
			p
				| It is the policy of GOLDING LIFE LTD, registration number 12657264, a limited liability company incorporated and existing under the laws of Great Britain, with registered address — United Kingdom, London, EC1V 2NX, Kemp House 160 City Road to prohibit and prevent money laundering and any activity that facilitates money laundering or the funding of terrorist or criminal activities by complying with all applicable legal requirements of Spain.
			p
				| Money laundering is generally defined as engaging in acts designed to conceal or disguise the true origins of criminally derived proceeds so that the proceeds appear to have been derived from legitimate sources or constitute legitimate assets. Terrorist financing may not involve proceeds of criminal conduct but is rather an attempt to conceal either the origin of the funds or their intended use.
			p
				| Although the motivation differs between traditional money launderers and terrorist financiers, the actual methods used to fund terrorist operations can be the same as or similar to methods used by other criminals to launder funds. Funding for terrorist attacks does not always require large sums of money and the associated transactions may not be complex.
			p
				| Our AML policies, procedures and internal controls are designed to ensure compliance with all applicable regulations, rules and laws and will be reviewed and updated on a regular basis to ensure appropriate policies, procedures and internal controls are in place to account for both changes in regulations and changes in our business.
			p
				| The Company operates in compliance with “anti-money laundering” (“AML”) and “know your customer” (“KYC”) rules and regulations in the jurisdictions it operates in or sells products or services to, and has developed the given KYC and AML Policy to protect itself from involvement in money laundering or suspicious activity as follows:
			p
				| The Company performs an enterprise-wide risk assessment to determine the risk profile of the Company.
				br
				| The Company has established KYC and AML policies and procedures that have been reviewed and approved by the Company's Directors.
				br
				| The Company shall strictly adhere to the Policy and procedures outlined herein.
			p
				| The Company develops this Policy, introduces amendments and additions to it at its own discretion, and oversees compliance with its provisions and requirements.
			p The Company oversees:
			p
				| ongoing compliance with the requirements introduced by the national and international laws, regulations and sanctions;
				br
				| implementation of the risk-based “Know Your Customer” principles;
				br
				| identifying and reporting of suspicious transactions.
				br
				| For the purpose of preventing any transactions with respect to laundering of proceeds of crime the Company arranges and organizes measures required for implementation of adequate procedures in relation to monitoring the customers' transactions, related reporting, retention of records and organization of the training activities; and ensures that any risks falling under such scope are controlled.
			p
				| The Company is required to constantly monitor its level of exposure to the risk of money laundering and the financing of terrorism.
			h3 1. “KNOW YOUR CUSTOMER” Due Diligence
			p
				| Effective Customer Due Diligence measures are essential to the management of money laundering and terrorist financing risk.
			p
				| Customer Due Diligence means identifying the customer and verifying their true identity on the basis of documents, data or information both at the moment of starting a business relationship with customer and on an ongoing basis. The customer identification and verification procedures require, first, the collection of data and, second, attempts to verify that data.
			p
				| During the Customer's registration process an individual customers provide the following identification information to the Company:
			p
				| - Customer's full name;
				br
				| - Customer's date of birth;
				br
				| - Country of residence/location of customer;
				br
				| - Mobile telephone number and e-mail.
			p
				| For the purposes of Customers identification, the Company requests the following documents:
			h4 A. proof of identity:
			p
				| Personal ID verification documentary evidence of identity (must contain photograph):
			p
				| - current valid signed passport with a clear picture (expiry date should be carefully checked and be in date).
			h4 B. proof of address (bank statement, utility bill):
			p
				| - utility bill, credit card bill (not older than 2 months);
				br
				| - bank statement containing address (not older than 2 months).
			p
				| The Company conducts the Know Your Customer (KYC) verification procedures to avoid the risk of being held liable for, and to protect itself from, a Customer attempting to use the Company for carrying out illegal activities.
			p
				| The Company is committed to protecting Customers rights and the confidentiality of their personal data. The Company collects personal information from Customers only to the extent necessary to ensure the Company is properly selling goods to Customers. Such personal information about Customers and former Customers may be disclosed to third parties only in accordance with the Company's Personal Data Protection Policy that is designed in accordance with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC.
			p
				| The Company shall carefully maintain Customers files, including transaction reports, receipts, notes, internal correspondence, and any other documents related to the Customer both in the electronic and paper format for a period of at least 7 (seven) years from the date of the relevant transaction.
			h3 2. IDENTIFICATION AND DETECTION OF SUSPICIOUS ACTIVITIES
			p
				| Suspicious transaction means presence of any information, suspicion or any matter which could arouse suspicion about the fact that the assets subject to a transaction, performed or attempted to be performed with or through the Company's account, have been obtained illegally or are used for unlawful purposes, or are used by any terrorist organizations, terrorists or financiers of terrorism within such scope, or are related to or associated with them.
			p
				| Definition of the term “Suspicious transaction” includes use of the assets, subject to the transaction, for unlawful purposes in addition to the fact that they have been obtained illegally; and it shall purport to include prevention of financing of terrorism (even if such assets are associated with financing of terrorism) thereby.
			p
				| Grounds for determining that a specific transaction is suspicious may be personal observations and experience of the Company's employees, as well as information received or identified.
			p
				| In accordance with the applicable law and the requirements of international organizations, the Company may, where appropriate and without the obligation of obtaining the Customer's approval or notifying the Customer, notify regulating and/or law enforcement agencies of any suspicious transactions.
			p
				| The Company shall periodically refer to and consult the lists published by state authorities and international organizations that contain lists of known terrorists or persons suspected of terrorist activities, terrorist organizations, high-risk countries, jurisdictions that do not provide sufficient level of anti-money laundering procedures, as well as countries subject to sanctions to determine whether the Company's Customer or potential Customer, and/or such Customer's country of jurisdiction is included in the above lists.
			p
				| The Company shall not provide any information to any person, including the persons who are a party to the relevant transaction, other than the information provided to the supervisory staff members commissioned with the duty of supervision of the obligation, as well as to the courts during the course of any trial, that a suspicious transaction reporting has been sent or will be sent to the appropriate state authority of financial crimes investigation.
			p
				| The Company shall continuously conduct due diligence procedures pertaining to its Customers and scrutinize transactions carried out by them to ensure these transactions' compatibility with the Company's knowledge of its Customers.
			h3 3. TRAINING ACTIVITIES
			p
				| Training activities are planned and organized for authorized persons of the Company as on-site (classroom learning) or off-site (e-learning programs, reminders and awareness messages) training in a manner that covers but not limited to:
			p
				| - definitions in AML,
				br
				| - the channels for reporting the suspicious transactions,
				br
				| - the concepts of laundering of proceeds of crime and financing of terrorism,
				br
				| - stages and sample cases for laundering of proceeds of crime,
				br
				| - national and international regulations with respect to prevention of laundering of proceeds of crime and financing of terrorism,
				br
				| - corporate policy and procedures of the Company,
				br
				| - principles with respect to the customer.
			p