+b.offer#offers.is-animated.js-animated(data-animate-class="active")
	+e.wrap.wrap
		+e.H2.title.h2.js-animated Наши предложения уникальны!
		+e.desc.p.color-gray
			| Впервые в истории обычный человек имеет возможность прикоснуться к миру реального инвестиционного золота. 
			br
			| Для этого мы создали три абсолютно разных инвестиционных предложения:
		+e.row.flex._justify
			+e.column
				+e.A.item(href="https://www.goldinglifeshop.com", target='_blank')
					+e.item-title МАГАЗИН ЗОЛОТА
					+e.item-ball
						img(src="/img/gold-ball.png")
			+e.column
				+e.A.item.js-popup-show(href="#popup-bonus")
					+e.item-title БОНУСНАЯ ПРОГРАММА
					+e.item-ball
						img(src="/img/gold-ball.png")
			+e.column
				+e.A.item.js-popup-show(href="#popup-invest")
					+e.item-title ИНВЕСТИЦИИ
					+e.item-ball
						img(src="/img/gold-ball.png")
		+e.text.p.color-gray
			| Каждое предложение имеет свои преимущества. Однако, все три предложения объединяет одно — они созданы для обычных людей. 
			br
			| Теперь к рынку инвестиционного золота имеют доступ не только крупные финансовые игроки, но и обычные люди.